.text-truncation {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncation::after {
  content: ' ...';
}

.text-highlight {
  color: map-get($colors, 'primary');
}

.text-error {
  margin-bottom: 5px;
  font-size: map-get($font-sizes, '2xs');
  color: map-get($colors, 'red');
}
