.badge {
  padding: 6px 9px;
  position: absolute;
  z-index: 1;

  border-radius: 20px;

  &-danger {
    background-color: map-get($colors, 'red');
    color: map-get($colors, 'white');
  }
}

@media only screen and (max-width: 768px) {
  .badge {
    padding: 2px 5px;
    font-size: 8px;
  }
}
