header {
  padding: 24px 0px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  background-color: transparent;
}

.header-action {
  .action {
    &-list {
      gap: 24px;
    }

    &-item {
      display: flex;
      align-items: center;
    }
  }
}
