.header {
  padding: 24px 0px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: transparent;

  &.header-cart {
    position: fixed;
    padding: 16px 0px;
    background-color: map-get($colors, 'primary');

    .nav-link {
      color: map-get($colors, 'white');
    }
  }
}

.nav {
  &-list {
    gap: 96px;
  }

  &-link {
    font-weight: map-get($font-weights, 'bold');
    font-size: map-get($font-sizes, 'lg');
    color: map-get($colors, 'primary');
  }
}

.header-action {
  &-link {
    background-color: transparent;
  }
  .action {
    &-list {
      gap: 24px;
    }

    &-item {
      display: flex;
      align-items: center;
      position: relative;

      button {
        color: white;
        font-size: 16px;
        font-weight: 600;
      }

      .cart-item-count {
        width: 21px;
        height: 21px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: -8px;
        right: -8px;

        font-size: 13px;
        font-weight: bold;
        color: map-get($colors, 'white');
        background-color: map-get($colors, 'red');
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
